@import '../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../node_modules/bulma/sass/utilities/functions';

$primary: #ffb3b3; /* changes primary color to pink */

@import 'bulma';