<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2.2 First Vue Application</title>

</head>
<body>
    <div id="app">
        <h1>Todo list</h1>
        <ajout @nouvellenote="ajouterNote"></ajout>
        <ul>
            <note v-for="todo in todos" :content="todo" @click="inverser"></note>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const vue = Vue.createApp({
            data() {
                return {
                    todos: ['Apprendre VueJS', 'Lire un livre', "Boire un chocolat chaud"]
                }
            },
            methods:{
                inverser()
                {
                    this.todos.reverse();
                },

                ajouterNote(message)
                {
                    this.todos.push(message);
                }
            }
        });

        vue.component('note', {
            props: ['content'],
            template: `<li>{{ content }}</li>`
        });

        vue.component('ajout', {
            props: [],
            emits: ['nouvellenote'],
            data()
            {
                return {interne: 'Nouveau message'}
            },
            methods: {
                enregistrementNote()
                {
                    this.$emit('nouvellenote', this.interne);
                    this.interne = '';
                }
            },
            template: `<input type="text" v-model="interne">
            <button @click="enregistrementNote" v-if="interne != ''">Ajouter !</button>
            {{ interne }}`
        })

        vue.mount('#app');
    </script>
</body>
</html>